%link-button {
  display: inline-flex;
  padding: 7px 21px;

  border: 1px solid rgba(25, 118, 210, 0.5);
  border-radius: 4px;

  font-size: 15px;
  line-height: 1.8;

  &:hover {
    background-color: rgba(25, 118, 210, 0.04);
    border: 1px solid #1976d2;
  }
}
