@use "styles/shared.scss";

.loadingBackdrop {
  position: absolute;
  top: 24px;
  left: 24px;
  right: 0;
  bottom: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(4px);
}
